.c-Logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-brand-primary-headline;
    transition: 1s ease color;
  
    &:hover {
      text-decoration: none;
      color: $color-brand-primary-headline;
    }
}