.o-ItemList__list {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.o-ItemList__item {
}

.o-ItemList__item + .o-ItemList__item {
    margin-left: 1rem;
}